.row {
    display: flex;
}

.box {
    border: 1px solid black;
    padding: 12px;
}

.bb {
    background-color: #f1f1f1f1;
    border: none;
    height: auto;
    margin: auto;
}
.bb:hover {
    background-color: rgb(210, 210, 210); 
    color: black;
}

.upper {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    cursor: pointer;
}



#switchLang {
    margin: auto;
    margin-left: 100px;
}

#resourceTable {
    border-collapse: collapse;
    width: 100%;

    margin-top: 20px;
}

#resourceTable th, #resourceTable td {
    text-align: left;
    padding: 12px;
}

#resourceTable tr {
    border-bottom: 1px solid #dddddd00;
}

#resourceTable tr.header {
    background-color: #f1f1f1;
}

#resourceTable tr:hover {
    background-color: #f1f1f181;
}